includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - .githooks
        - vendor
