parameters:
	ignoreErrors:
		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:getOrderDetailAttributes\\(\\) has parameter \\$mailOrderPositions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:getOrderDetailAttributes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:getTranslatedPayment\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:getTranslatedShipping\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:prepareOrderConfirmationMailData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:prepareOrderDetailsConfirmationMailData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setBillingAddress\\(\\) has parameter \\$orderMail with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setBillingAddress\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setOrderCosts\\(\\) has parameter \\$orderMail with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setOrderCosts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setPositionPrices\\(\\) has parameter \\$mailOrderPositions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setPositionPrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setShippingAddress\\(\\) has parameter \\$orderMail with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailCreator\\:\\:setShippingAddress\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailCreator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getArticleDetailsByOrderNumber\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getBillingAddressByOrderId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getCountryByCountryId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getCustomerByUserId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getDispatchByDispatchId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getOrderAttributesByOrderId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getOrderDetailsByOrderId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getPaymentmeanByPaymentmeanId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getShippingAddressByOrderId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ConfirmationMail\\\\ConfirmationMailRepository\\:\\:getStateByStateId\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ConfirmationMail/ConfirmationMailRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\CustomerRepository\\:\\:get\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/CustomerRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\CustomerRepository\\:\\:getGroup\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/CustomerRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\CustomerRepository\\:\\:getList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/CustomerRepository.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\Order\\\\Struct\\\\OrderStruct\\:\\:getAttributes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Order/Struct/OrderStruct.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\Order\\\\Struct\\\\OrderStruct\\:\\:setAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Order/Struct/OrderStruct.php

		-
			message: "#^Property SwagBackendOrder\\\\Components\\\\Order\\\\Struct\\\\OrderStruct\\:\\:\\$attributes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Order/Struct/OrderStruct.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\PriceCalculation\\\\Calculator\\\\DiscountCalculator\\:\\:calculateDiscount\\(\\) has parameter \\$orderData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/PriceCalculation/Calculator/DiscountCalculator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\PriceCalculation\\\\Calculator\\\\DiscountCalculator\\:\\:calculateDiscount\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/PriceCalculation/Calculator/DiscountCalculator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\PriceCalculation\\\\Calculator\\\\DiscountCalculator\\:\\:updateOrderDetails\\(\\) has parameter \\$discountPosition with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/PriceCalculation/Calculator/DiscountCalculator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\PriceCalculation\\\\Calculator\\\\DiscountCalculator\\:\\:updateOrderDetails\\(\\) has parameter \\$orderData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/PriceCalculation/Calculator/DiscountCalculator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:findProducts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:getBlockPrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:getProduct\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:getProduct\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:getProductByNumber\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:prepareProductPrice\\(\\) has parameter \\$product with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearch\\:\\:prepareProductPrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearch.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearchInterface\\:\\:findProducts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearchInterface.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearchInterface\\:\\:getProduct\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearchInterface.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\ProductSearch\\\\ProductSearchInterface\\:\\:getProduct\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ProductSearch/ProductSearchInterface.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\Translation\\\\PaymentTranslator\\:\\:translate\\(\\) has parameter \\$paymentMethod with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Translation/PaymentTranslator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\Translation\\\\PaymentTranslator\\:\\:translate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Translation/PaymentTranslator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\Translation\\\\ShippingTranslator\\:\\:translate\\(\\) has parameter \\$shipping with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Translation/ShippingTranslator.php

		-
			message: "#^Method SwagBackendOrder\\\\Components\\\\Translation\\\\ShippingTranslator\\:\\:translate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Translation/ShippingTranslator.php

		-
			message: "#^Cannot call method Articles\\(\\) on object\\|null\\.$#"
			count: 1
			path: Tests/Functional/Components/ConfirmationMail/ConfirmationMailCreatorTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Components\\\\Order\\\\B2BOrderServiceTest\\:\\:getB2bOrder\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Components/Order/B2BOrderServiceTest.php

		-
			message: "#^Parameter \\#2 \\$modules of class SwagBackendOrder\\\\Components\\\\Order\\\\Factory\\\\DetailFactory constructor expects Shopware_Components_Modules, object\\|null given\\.$#"
			count: 1
			path: Tests/Functional/Components/Order/Factory/DetailFactoryTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Components\\\\Order\\\\OrderServiceTest\\:\\:getAttributes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Components/Order/OrderServiceTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Components\\\\PriceCalculation\\\\DiscountCalculatorTest\\:\\:getTestOrderDataTaxFree\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Components/PriceCalculation/DiscountCalculatorTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Components\\\\PriceCalculation\\\\DiscountCalculatorTest\\:\\:getTestOrderDataWithAbsoluteDiscount\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Components/PriceCalculation/DiscountCalculatorTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Components\\\\PriceCalculation\\\\DiscountCalculatorTest\\:\\:getTestOrderDataWithPercentageDiscount\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Components/PriceCalculation/DiscountCalculatorTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getB2bOrder\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoDataWithChangedCurrency\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoDataWithEmptyDispatch\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoDataWithEmptyPositions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoDataWithInvalidDispatch\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoWithChangedDisplayNetFlag\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDemoWithChangedTaxfreeFlag\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getDiscountRequestData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getProductDemoData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getProductDemoDataWithBlockPrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getProductDemoDataWithBlockPricesAndDisplayNetFlag\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getProductDemoDataWithDisplayNetFlag\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php

		-
			message: "#^Method SwagBackendOrder\\\\Tests\\\\Functional\\\\Controller\\\\SwagBackendOrderTest\\:\\:getProductSearchData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Tests/Functional/Controller/SwagBackendOrderTest.php
