<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        processIsolation="false"
        backupStaticAttributes="false"
        bootstrap="./Tests/Functional/Bootstrap.php"
>
    <testsuite name="SwagBackendOrder Test Suite">
        <directory>./Tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>

                <!-- Bootstrap -->
                <file>SwagBackendOrder.php</file>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
